@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'MaisonNeue';
  src: url('./font/MaisonNeue/MaisonNeue-Medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Repeat the above @font-face block for each font style (e.g., bold, italic) */

body {
  font-family: 'MaisonNeue';
  /* background-image: url("../trioximages/backgroundimage.png"); */
}

