@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MaisonNeue';
  src: url('./font/MaisonNeue/MaisonNeue-Book.otf') format('opentype');
  font-weight: 400; /* Book font weight */
  font-style: normal;
}

@font-face {
  font-family: 'MaisonNeue';
  src: url('./font/MaisonNeue/MaisonNeue-Medium.otf') format('opentype');
  font-weight: 500; /* Medium font weight */
  font-style: normal;
}

@font-face {
  font-family: 'MaisonNeue';
}

